# 忽略所有的 __pycache__ 目录
**/__pycache__/

# 忽略 Python 编译文件
*.pyc
*.pyo

# 忽略虚拟环境
env/
venv/

# 忽略 Jupyter notebook 输出
.ipynb_checkpoints/

# 忽略 macOS 特有的文件
.DS_Store

bge-large-en/
datasets/
datasets_test/
features/

# 忽略模型文件
*.pt
*.pkl
*.pth
*.bak
